.header{
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 10px;
}

.left_header{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 20px;
}

.right_header{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.header_text_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.header_text{
    color: white;
    margin: 20px;
}
